.main,
.cadastro {
  font-family: var(--font-mono);
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.forms {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.cadastro {
  margin: 0 auto;
  width: 1124px;
}
.registerContainer {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.registerInput {
  width: 300px;
  margin-top: 15px;
}
.registerButton,
.editButton {
  width: 100px;
  margin-top: 15px;
}
.tabelaConteudo {
  display: flex;
}

.infoLinha {
  margin-left: 10px;
}
.td,
.th {
  padding: 3px 5px;
  text-align: start;
  border: 1px solid black;
}
.table {
  border-collapse: collapse;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  width: 100%;
}

.footerContent {
  position: absolute;
  bottom: 0;
}

.html {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}